@media(max-width: 1000px) {
  body {
    width: 950px;
  }

  .navbar-itens {
    flex-direction: column;
    align-items: center;
  }

  .navbar-title {
    font-size: xxx-large;
  }

  nav li {
    font-size: 40px;
  }

  .navbar-options-button {
    display: none;
  }

  .content {
    width: 100%;
    padding-top: 88px;
  }

  .content-principal {
    flex-direction: column;
    width: 100%;
    height: 1020px;
  }

  .content-description-image {
    padding-right: 0;
  }

  .content-description-text {
    width: 460px;
    height: 195px;
    padding-top: 64px;
    text-align: center;
  }

  .content-items {
    flex-direction: column-reverse;
  }

  .content-items ul {
    font-size: 40px;
  }

  .content-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
  }

  .content-information-text {
    font-size: xxx-large;
  }

  .content-information button {
    margin-left: 0;
    width: 260px;
  }

  .content-information input {
    margin-bottom: 8px;
  }

  .content-information-data {
    flex-direction: column;
    font-size: 20px;
  }

  .content-baseboard {
    padding-top: 96px;
    flex-direction: column;
    align-items: center;
    max-height: 500px;
  }

  .content-baseboard-items {
    margin-bottom: 32px;
    width: 556px;
    height: 240px;
  }

  .content-baseboard-perfil-text {
    width: 390px;
    font-size: 30px;
  }

  .content-baseboard-perfil-name {
    max-width: 300px;
  } 
  
  .content-baseboard-perfil-location {
    font-size: 20px;
  }

  .footer {
    width: 950px;
    height: 900px;
  }

  .footer-content {
  position: relative;
  flex-direction: column;
  justify-content: unset;
  height: 100%;
}

  .footer-content-items {
    padding: 32px;
    width: 325px;
    height: 200px
  }

  .footer-content-items-title {
    font-size: 30px;
  }

  .footer-content-items-name-site {
    font-size:80px;
  }

  .footer-content-items-text {
    font-size: 30px;
  }

  .footer-content-items-social{
    width: 190px;
  }

  .footer-content-items-social i {
    font-size: 50px
  }
}